{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>기빨려 예약시스템 myinfo</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
<body>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">

    <div id="wrap">
        <h1 id="title">내 정보</h1>
        <table>
                <tr><td>사용자 번호</td> 
                    <td>{{user.pk}}</td></tr>
                <tr><td>사용자</td> 
                    <td>{{user.UserName}}</td></tr>
                <tr><td>사용자 카드번호</td> 
                    <td>{{user.CardId}}</td></tr>
                <tr><td>페널티</td> 
                    <td>{{user.Penalty}}</td></tr>
            </table>
    </div>
    
            <input type="button" onclick="location.href=''" value="수정"></input>


</body>
</html>