{% extends 'base.html' %}

{% block title %}myinfo{% endblock %}

{% block content %}
<style>
    table {
        padding: 1%;
        width: 100%;
        font-size: 28px;
        background: #ccc;
        border-radius: 20px;
    }
    td {
        padding: 3%;
    }
    #entity {
        background: #ccecff;
        text-align: center;
    }
    #content {
        background: white;
        text-align: left;
        width: 60%;
    }
    #wrap {
        text-align: center;
        padding-left: 30%;
        width: 40%;
    }
    @media all and (max-width: 1200px){
            #wrap {
                width: 60%;
                padding-left: 20%;
            }
        }
</style>




<p class="title" style="color: #014167">내 정보</p>
<div style="text-align: center;">
    <div id="wrap">
        <table>
            <tr><td id="entity" style="border-top-left-radius: 20px">사용자 번호</td> 
                <td id="content" style="border-top-right-radius: 20px">{{user.pk}}</td></tr>
            <tr><td id="entity">사용자</td> 
                <td id="content">{{user.UserName}}</td></tr>
            <tr><td id="entity">사용자 카드번호</td> 
                <td id="content">{{user.CardId}}</td></tr>
            <tr><td id="entity" style="border-bottom-left-radius: 20px">페널티</td> 
                <td id="content" style="border-bottom-right-radius: 20px">{{user.Penalty}}</td></tr>
            </table>

        <br>
        <input class="button" type="button" onclick="location.href='{% url 'account:myinfo' %}'" value="수정"></input>
    </div>
</div>
{% endblock %}