{% extends 'base.html' %}

{% block title %}myinfo_edit{% endblock %}

{% block content %}

<style>
        #entity {
            font-family: 'Do Hyeon', sans-serif;
            background: #ccecff;
            text-align: left;
            width: 60%;
            padding: 3%;
            font-size: 28px;
            border: 2px solid white;
        }
        #wrap {
            text-align: center;
            width: 50%;
            padding-left: 25%;
        }
        @media all and (max-width: 1200px){
            #wrap {
                width: 60%;
                padding-left: 20%;
            }
        }
</style>

<p class="title" style="color: #014167">내 정보 수정</p>
<div id="wrap">

    {% if fail %}
    <strong>수정에 실패하였습니다.</strong>
    {% endif%}
    
<form action="{% url 'account:myinfo_edit' %}" method="POST">
    {% csrf_token %}
    <input id="entity" style="border-top-left-radius: 20px; border-top-right-radius: 20px" type="text" class="form-control" name="UserName" placeholder="학번" value="{{user.UserName}}" readonly> <br>
    <input id="entity" type="password" class="form-control" name="PassWord" placeholder="비밀번호"> <br>
    <input id="entity" type="password" class="form-control" name="Confirm" placeholder="비밀번호 확인"> <br>
    <input id="entity" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px" type="text" class="form-control" name="CardId" placeholder="카드번호" value="{{user.CardId}}"> <br><br>
    <input id="button" type="submit" class="button" class="form-control btn btn-secondary" value="수정">
</form>
</div>

{% endblock %}