{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}

<style>
    body {
        background: #014167;
    }
    .bubble {
        padding-left: 20%;
        padding-right: 20%;
    }
    #wrap {
        margin-top: 30px;
        width: 300px;
        position: relative;
        float: left;
	}
    .bubble img {
        width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    #word {
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
        text-align: center;
        color: #014167;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
    }
</style>
{% load staticfiles %}
<div class="bubble">
<p class="title" style="color: #ccecff">생활관 세탁기 예약 시스템입니다.</p>
        <div id="wrap">
            <img src="{% static 'BUBBLE.jpg' %}" width="300px">
                <a href="{% url 'main:male_308' %}" id="word">308관 남자</a>
        </div>
        <div id="wrap">
            <img src="{% static 'BUBBLE.jpg' %}" width="300px">
            <a href="" id="word">308관 여자</a>
        </div>
        <div id="wrap">
            <img src="{% static 'BUBBLE.jpg' %}" width="300px">
            <a href="" id="word">309관 남자</a>
        </div>
        <div id="wrap">
            <img src="{% static 'BUBBLE.jpg' %}" width="300px">
            <a href="" id="word">309관 여자</a>
        </div>
</div>

{% endblock %}