{% extends 'base.html' %}

{% block title %}male_308{% endblock %}

{% block content %}

<style>
    #wm {
        background: #ccc;
        border: 6px solid white;
        text-align: center;
        font-size: 60px;
        width: 80px;
    }
    #content {
        width: 45%;
        padding-right: 5%;
        height: 30%;
        margin-bottom: 20px;
        float: left;
        height: 450px;
        color: #333;
    }

    #container {
        padding-top: 20px;
        width: 100%;
        height: 600px;
        background: #eee;
    }
    #nav {
        width: 50%;
        margin-bottom: 24px;
        float: right;
        font-size: 28px;
        text-align: center;
        height: 450px;
      }
    .info th {
          padding-left: 10px;
          padding-right: 10px;
      }
    .book{
          text-align: center;
      }
    tr a {
        color: #014167;
        background-color: #ccecff;
      }
    th {
        padding-bottom: 20px;
    }
    @media all and (min-width: 1800px){
        #container {
            width: 60%;
            padding-left: 20%;
            padding-right: 20%;
        }
    }
    @media all and (min-width: 1400px) and (max-width: 1800px){
        #container {
            width: 80%;
            padding-left: 10%;
            padding-right: 20%;
        }
    }  
      
</style>
<h1 class="title" style="color: #999; margin-bottom: 0%;">308관 남자</h1>
<p class="title" style="color: #555; margin-top: 0%;">예약할 세탁기 혹은 건조기를 선택해주세요</p>

<div id="container">

        <div id="content">
        <table>
            <tr>
                <td id="wm">3</td>
                <td id="wm">4</td>
                <td id="wm">5</td>
                <td id="wm">6</td>
                <td id="wm">7</td>
                <td id="wm">8</td>
            </tr>
            <tr>
                <td id="wm">2</td>
                <td colspan="4"></td>
                <td id="wm">9</td>
            </tr>
            <tr>
                <td id="wm">1</td>
                <td colspan="4"></td>
                <td id="wm">10</td>
            </tr>
        </table>
    </div>
    <div id="nav">
        <table id="info">
            <tr>
                <th width="25%">세탁기 번호</th>
                <th width="25%">사용현황</th>
                <th width="40%">종료예정시간</th>
                <th width="10%"></th>
            </tr>
            {% for Washer_,W_State,W_Times in W_Info %}
            <tr>
                <td>{{Washer_}}</td>
                <td>{{W_State}}</td>
                <td>{{W_Times}}</td>
                <td><a href="{% url 'reserve:W_reserve' Washer_.id %}">예약</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>



<br><br>
        
<div id="container">

        <div id="content">
        <table>
            <tr>
                <td id="wm">1</td>
                <td id="wm">2</td>
                <td id="wm">3</td>
                <td id="wm">4</td>
                <td id="wm">5</td>
                <td id="wm">6</td>
            </tr>
        </table>
        </div>
<div id="nav">
<table id="info">
    <tr>
        <th width="25%">건조기 번호</th>
        <th width="25%">사용현황</th>
        <th width="40%">종료예정시간</th>
        <th width="10%"></th>
    </tr>
    {% for Dryer_,D_State,D_Times in D_Info %}
    <tr>
        <td>{{Dryer_}}</td>
        <td>{{D_State}}</td>
        <td>{{D_Times}}</td>
        <td><a href="{% url 'reserve:D_reserve' Dryer_.id %}">예약</a></td>
    </tr>
    {% endfor %}
</table>
</div>   
</div>   

{% endblock %}